#Question 1

Given an integer `n`, return *`true` if it is a power of two. Otherwise, return `false`*.

An integer `n` is a power of two, if there exists an integer `x` such that `n == 2x`.

**Example 1:**
Input: n = 1

Output: true

**Example 2:**
Input: n = 16

Output: true

**Example 3:**
Input: n = 3

Output: false

</aside>

In [ ]:
def isPowerOfTwo(n):
    if n <= 0:
        return False

    while n % 2 == 0:
        n //= 2

    return n == 1

In [ ]:
print(isPowerOfTwo(1))
print(isPowerOfTwo(16))
print(isPowerOfTwo(3))

True
True
False

#Question 2

Given a number n, find the sum of the first natural numbers.

**Example 1:**

Input: n = 3

Output: 6

**Example 2:**

Input  : 5

Output : 15

</aside>

In [ ]:
def sumOfFirstNNumbers(n):
    return (n * (n + 1)) // 2

In [ ]:
print(sumOfFirstNNumbers(3))
print(sumOfFirstNNumbers(5))

6
15

#Question 3

****Given a positive integer, N. Find the factorial of N.

**Example 1:**

Input: N = 5

Output: 120

**Example 2:**

Input: N = 4

Output: 24

</aside>

In [ ]:
def factorial(N):
    result = 1
    for i in range(1, N+1):
        result *= i
    return result

In [ ]:
print(factorial(5))
print(factorial(4))

120
24

#Question 4

Given a number N and a power P, the task is to find the exponent of this number raised to the given power, i.e. N^P.

**Example 1 :**

Input: N = 5, P = 2

Output: 25

**Example 2 :**
Input: N = 2, P = 5

Output: 32

</aside>

In [ ]:
def calculateExponentiation(N, P):
    result = N ** P
    return result

In [ ]:
print(calculateExponentiation(5, 2))
print(calculateExponentiation(2, 5))

25
32

#Question 5

Given an array of integers **arr**, the task is to find maximum element of that array using recursion.

**Example 1:**

Input: arr = {1, 4, 3, -5, -4, 8, 6};
Output: 8

**Example 2:**

Input: arr = {1, 4, 45, 6, 10, -8};
Output: 45

</aside>

In [ ]:
def findMax(arr, index):
    # Base case: if index reaches the end of the array
    if index == len(arr) - 1:
        return arr[index]

    # Recursive case: compare current element with the maximum of the rest of the array
    return max(arr[index], findMax(arr, index + 1))

# Test the function
arr = [1, 4, 3, -5, -4, 8, 6]
print(findMax(arr, 0))  # Output: 8

arr = [1, 4, 45, 6, 10, -8]
print(findMax(arr, 0))  # Output: 45

8
45

#Question 6

Given first term (a), common difference (d) and a integer N of the Arithmetic Progression series, the task is to find Nth term of the series.

**Example 1:**

Input : a = 2 d = 1 N = 5
Output : 6
The 5th term of the series is : 6

**Example 2:**

Input : a = 5 d = 2 N = 10
Output : 23
The 10th term of the series is : 23

In [ ]:
def findNthTerm(a, d, N):
    Nth_term = a + (N - 1) * d
    return Nth_term

# Test the function
a = 2
d = 1
N = 5
print(findNthTerm(a, d, N))

a = 5
d = 2
N = 10
print(findNthTerm(a, d, N))

6
23

#Question 7

Given a string S, the task is to write a program to print all permutations of a given string.

**Example 1:**

***Input:***

*S = “ABC”*

***Output:***

*“ABC”, “ACB”, “BAC”, “BCA”, “CBA”, “CAB”*

**Example 2:**

***Input:***

*S = “XY”*

***Output:***

*“XY”, “YX”*

</aside>

In [ ]:
def permute(s, l, r):
    if l == r:
        print("".join(s))
    else:
        for i in range(l, r + 1):
            s[l], s[i] = s[i], s[l]  # Swap characters
            permute(s, l + 1, r)  # Recursively generate permutations
            s[l], s[i] = s[i], s[l]  # Backtrack, undo the swap

# Function to generate permutations of a given string
def generatePermutations(s):
    n = len(s)
    s = list(s)  # Convert string to a list for easier swapping
    permute(s, 0, n - 1)

# Test the function
S = "ABC"
generatePermutations(S)

S = "XY"
generatePermutations(S)

ABC
ACB
BAC
BCA
CBA
CAB
XY
YX

#Question 8

Given an array, find a product of all array elements.

**Example 1:**

Input  : arr[] = {1, 2, 3, 4, 5}
Output : 120
**Example 2:**

Input  : arr[] = {1, 6, 3}
Output : 18

</aside>

In [ ]:
def productOfArray(arr):
    product = 1
    for num in arr:
        product *= num
    return product

# Test the function
arr = [1, 2, 3, 4, 5]
print(productOfArray(arr))

arr = [1, 6, 3]
print(productOfArray(arr))

120
18